# DS204 ‚Äî Final Project: Analysis for Data Science

üë• **Team:** _Aaron, Andres, Lucas, Melissa_

üì¶ **Dataset:** _<Students Performance in Exams / [Source link](https://www.kaggle.com/datasets/spscientist/students-performance-in-exams)>_

üóÇÔ∏è **Repo:** _<[GitHub URL](https://github.com/Lucasyuki01/DS204-FinalProject)>_

> **Goal:** Produce a complete data quality analysis, identify 2‚Äì3 meaningful associations (Pearson, Spearman, Kendall), fix data quality issues programmatically, suggest a prediction approach (focus on linear regression), and export the cleaned dataset.

## 0. Reproducibility & Environment
Record package versions used so the notebook is fully reproducible.

In [2]:
# %% [reproducibility]
import sys, platform
import pandas as pd, numpy as np
import sklearn, statsmodels
import matplotlib, seaborn
try:
    import ydata_profiling
except Exception:
    ydata_profiling = None
from datetime import datetime

print({
    'python': sys.version.split()[0],
    'platform': platform.platform(),
    'pandas': pd.__version__,
    'numpy': np.__version__,
    'scikit_learn': sklearn.__version__,
    'statsmodels': statsmodels.__version__,
    'matplotlib': matplotlib.__version__,
    'seaborn': seaborn.__version__,
    'ydata_profiling': getattr(ydata_profiling, '__version__', 'not installed'),
    'timestamp': datetime.utcnow().isoformat()+'Z'
})

C:\Users\andre\Documents\Data Science\DS-204 Analysis for Data Science\Projects\Final Project\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

{'python': '3.11.0', 'platform': 'Windows-10-10.0.26100-SP0', 'pandas': '2.2.2', 'numpy': '1.26.4', 'scikit_learn': '1.5.1', 'statsmodels': '0.14.2', 'matplotlib': '3.8.4', 'seaborn': '0.13.2', 'ydata_profiling': '4.8.3', 'timestamp': '2025-09-23T01:51:08.907367Z'}

## 1. Setup & Data Loading
Use a relative path. Keep raw data unchanged; write cleaned output to `data/Dataset-Fixed.csv`.

In [5]:
df = pd.read_csv("../data/StudentsPerformance.csv")
df_fixed = df.copy()

## 2. Quick Metadata & Basic Checks
High-level overview for context and to feed the DQ report.

In [6]:
df_fixed.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
df_fixed.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [8]:
df_fixed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [9]:
df.shape

(1000, 8)

## 3. Data Quality Report (ydata_profiling)
Generates `profile.html` to be submitted. If you prefer DataPrep, swap accordingly.

In [4]:
"""
profile = ProfileReport(
    df,
    correlations={
        "pearson":     {"calculate": True},
        "spearman":    {"calculate": True},
        "kendall":     {"calculate": True},
        "phi_k":       {"calculate": False},
        "cramers":     {"calculate": False},
    }
)

profile.to_file("student_performance.html")
"""

'\nprofile = ProfileReport(\n    df_teams,\n    correlations={\n        "pearson":     {"calculate": True},\n        "spearman":    {"calculate": True},\n        "kendall":     {"calculate": True},\n        "phi_k":       {"calculate": False},\n        "cramers":     {"calculate": False},\n    }\n)\n\nprofile.to_file("teams.html")\n'

## 4. Correlations (Pearson, Spearman, Kendall)
Compute correlation matrices programmatically to cross-check the profiling tool.

## 5. Candidate Associations (2‚Äì3 pairs)
Select pairs based on domain logic + coefficients. Add short rationale and plots.

## 6. Data Quality Issues & Fixes
Show evidence (counts/plots) and apply fixes with **clear rationale**. Keep raw intact.

## 7. Export Cleaned Dataset
Save the cleaned data as `Dataset-Fixed.csv` as required.

In [ ]:
"""
df_fixed.to_csv("../data/StudentsPerformance_fixed.csv")
"""

## 8. Modeling Suggestion (Linear Regression)
If assumptions hold, fit a simple linear regression. Otherwise, suggest a better alternative and justify.

## 9. Conclusions
- Summary of associations and their interpretation.
- Data quality issues and fixes (with % affected).
- Recommended model and rationale.
- Limitations and next steps.

## Appendix
### A. Encoding Categorical Variables (if needed)